// Navigation code here

.topNav {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    //.testBox(red);

    h1 {
        margin: 10px 0;
    }

    nav {
        display: flex;
        justify-content: space-around;
        width: 46%;
        margin: 10px 0;
        //.testBox(blue);
    }

    a {
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 1.4rem;

        //.testBox(green);
    }

}